$white: white;
//$dark: #021610;
$dark: #002b21;
$light: #d4d6d5;
$medium: #808a85;
//$medium: #9CBB8B;
$warn: #e47e28;

$radius-sm: 4px;
$panel-overlay: rgba(255, 255, 255, 0.7);
$page-overlay: rgba(50, 50, 50, 0.5);
