@use '../../../style-variables.scss' as vars;
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$dark;
  color: vars.$light;
  font-size: clamp(12px, 1.8vh, 16px);
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  color: vars.$light;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.03em;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu > li {
  margin: 0 0.8rem;
  overflow: hidden;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: vars.$light;
}

a:hover,
a.active {
  color: vars.$medium;
}

.hamburger-box {
  display: none;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 900px) {
  .top-nav {
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 1em;
  }

  .hamburger-box {
    position: absolute;
    top: 1em;
    right: 1em;
    display: inline-block;
    width: 2.5em;
    height: 2.2em;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    position: absolute;
    width: 2.125em;
    height: 0.25em;
    border-radius: vars.$radius-sm;
    background-color: vars.$light;
    content: '';
    transition: transform 150ms ease;
  }

  .hamburger-inner {
    top: 50%;
    left: 0;
    margin-top: -0.125em;
  }

  .hamburger-inner::before {
    top: -0.625em;
    left: 0;
  }

  .hamburger-inner::after {
    top: 0.625em;
    left: 0;
  }

  .top-nav > .title {
    max-width: calc(100% - 3.5em);
  }

  .top-nav > .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0.5em;
    background: vars.$dark;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 500ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms ease;
  }

  .top-nav.dropdown > .title {
    display: none;
  }

  .top-nav.dropdown > .menu {
    max-height: 20em;
    opacity: 1;
  }

  .top-nav > .menu > li {
    margin: 0;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
