<div class="home-container">
  <div class="background-layer" aria-hidden="true"></div>
  <div class="overlay-layer" aria-hidden="true"></div>
  <div class="home-content">

  <div class="title-container display-font">
    <div class="title">highly</div>
    <div class="title">zensitive</div>
    <div class="title">salaman<span class="large-font">D</span>r.</div>
  </div>

  <div>
  <div class="description display-font">
    Wellness Services and coaching for sensitive souls.
  </div>

  <div class="button-container">
    <div class="button-row">
      <div class="button stretch" routerLink="/about">about</div>
      <div class="button stretch" routerLink="/events">events</div>
      <div class="button stretch" routerLink="/services">services</div>
    </div>
    <div class="button-row">
      <div class="button stretch" routerLink="/vibe-check">get a vibe check</div>
      <div class="button stretch">media</div>
    </div>
  </div>
</div>
  </div>

</div>
