@use '../../../style-variables.scss' as vars;

:host {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  z-index: 1;
  pointer-events: none;
}

.attribution {
  margin: 0;
  color: vars.$light;
  opacity: 0.8;
  font-size: clamp(0.5rem, 0.5vw, 0.7rem);
  line-height: 1.2;
}
