@if (vm$ | async; as vm) {
  <div class="schedule-container">
    <div class="background-layer" aria-hidden="true"></div>
    <div class="overlay-layer" aria-hidden="true"></div>

    <div class="schedule-content">
      <div class="schedule-header">
        <div class="title display-font">Get a vibe check</div>
        <div class="description-panel default-font">
          <div class="description-copy">
            Let's chat!  It's already written in the stars that we would meet.  Pick your time and fulfill the prophesy.
          </div>
        </div>
      </div>

      <div class="details-panel">
        <app-client-details></app-client-details>
      </div>

      <div class="calendar-panel" [class.picker-disabled]="vm.isPanelDisabled" [attr.aria-disabled]="vm.isPanelDisabled">
        <app-date-picker></app-date-picker>
      </div>

      <div class="time-panel" [class.picker-disabled]="vm.isPanelDisabled" [attr.aria-disabled]="vm.isPanelDisabled">
        <app-time-picker></app-time-picker>
      </div>
    </div>

    <app-confirm-appointment></app-confirm-appointment>
  </div>
<app-attribution text="Photo by Thomas Lardeau"></app-attribution>
}
