<div class="about-container">
  <div class="background-layer" aria-hidden="true"></div>
  <div class="overlay-layer" aria-hidden="true"></div>
  <div class = "card-container">
  <div class="title script-font">divine disruptor,</div>
  <div class="content-card default-font">
    <p>
      Your soul is ready to take the next step towards alignment.
      We will find the weak points, dismantle them, and reconstruct
      on solid foundation. Choosing to work with me will shift you
      away from any false alignments in your life and course correct
      your path. What may feel like destruction is certainly only
      becoming the goo that is required to emerge a butterfly.
    </p>
  </div>
  <div class="about-actions">
    <button type="button" class="button">bio</button>
    <a routerLink="/scheduler" class="button">get a vibe check</a>
  </div>
  </div>
</div>
